In [1]:
from google.oauth2 import service_account
import pandas_gbq as pd1
import pandas as pd2

In [2]:
header_list = ['DateTime', 'Voltage', 'ValueCurrent']
df1 = pd2.read_csv('Solar data 25-06-2022 to 12-09-2022.csv', names = header_list)
df1

                  DateTime  Voltage  ValueCurrent
0      2022-06-24 23:31:26  0.26855           0.0
1      2022-06-25 00:31:26  0.26855           0.0
2      2022-06-25 01:31:26  0.26855           0.0
3      2022-06-25 01:32:26  0.26855           0.0
4      2022-06-25 01:33:26  0.31738           0.0
...                    ...      ...           ...
81355  2022-09-12 23:57:06  0.17090           0.0
81356  2022-09-12 23:58:06  0.17090           0.0
81357  2022-09-12 23:59:06  0.17090           0.0
81358  2022-09-17 00:59:06  0.17090           0.0
81359  2022-09-17 01:59:06  0.17090           0.0

[81360 rows x 3 columns]

In [3]:
credentials = service_account.Credentials.from_service_account_file('solardata-key.json')
project_id = 'solardata-360222'
df_sql = f"""SELECT
DateTime,
Voltage,
ValueCurrent
FROM `solardata-360222.SolarSensorsData.SensorsData`
ORDER BY DateTime
"""
df2 = pd1.read_gbq(df_sql, project_id=project_id, dialect='standard', credentials=credentials)

Downloading: 100%|████████████████████████████████████████████████████████████| 7261/7261 [00:00<00:00, 12645.99rows/s]

In [4]:
df = pd2.concat([df1, df2], axis=0, join="inner", ignore_index=True)
df.tail(20)

                  DateTime  Voltage  ValueCurrent
88601  2022-09-24 10:36:22  5.78613       2.33998
88602  2022-09-24 10:37:22  5.46875       1.97329
88603  2022-09-24 10:38:22  5.37109       1.83399
88604  2022-09-24 10:39:22  5.22461       1.68027
88605  2022-09-24 10:40:22  5.63965       2.12371
88606  2022-09-24 10:41:22  6.88477       3.51738
88607  2022-09-24 10:42:22  6.22559       2.89754
88608  2022-09-24 10:43:23  5.66406       2.28228
88609  2022-09-24 10:44:23  5.54199       2.11698
88610  2022-09-24 10:45:23  5.56641       2.12503
88611  2022-09-24 10:46:23  6.07910       2.68612
88612  2022-09-24 10:47:23  5.22461       1.74149
88613  2022-09-24 10:48:23  6.17676       2.76741
88614  2022-09-24 10:49:24  6.46973       3.15432
88615  2022-09-24 10:50:24  6.46973       3.24608
88616  2022-09-24 10:51:24  6.27441       3.08630
88617  2022-09-24 10:52:24  6.03027       2.88683
88618  2022-09-24 10:53:24  6.49414       3.30189
88619  2022-09-24 10:54:24  5.93262       2.62493
88620  2022-09-24 10:55:24  6.27441       3.11557

In [5]:
header_list = ['DateTime', 'Voltage', 'ValueCurrent']
df3 = pd2.read_csv('D:/solar energy monitoring and prediction system/solar power and weather data/sensors_data.csv', names = header_list)
df3

                  DateTime  Voltage  ValueCurrent
0      2022-06-24 23:31:26  0.26855           0.0
1      2022-06-25 00:31:26  0.26855           0.0
2      2022-06-25 01:31:26  0.26855           0.0
3      2022-06-25 01:32:26  0.26855           0.0
4      2022-06-25 01:33:26  0.31738           0.0
...                    ...      ...           ...
90433  2022-09-23 18:50:01  1.02539           0.0
90434  2022-09-23 18:51:01  1.02539           0.0
90435  2022-09-23 18:52:01  1.02539           0.0
90436  2022-09-23 18:53:01  1.02539           0.0
90437  2022-09-23 18:54:01  1.02539           0.0

[90438 rows x 3 columns]

In [16]:
df4 = df3[(df3['DateTime'] >= '2022-09-23 17:29:48') & (df3['DateTime'] <= '2022-09-23 18:27:57')][['DateTime', 'Voltage', 'ValueCurrent']]
d_t = df4['DateTime']
d_t

90353    2022-09-23 17:29:48
90354    2022-09-23 17:30:49
90355    2022-09-23 17:31:49
90356    2022-09-23 17:32:49
90357    2022-09-23 17:33:49
90358    2022-09-23 17:34:49
90359    2022-09-23 17:35:49
90360    2022-09-23 17:36:50
90361    2022-09-23 17:37:50
90362    2022-09-23 17:38:50
90363    2022-09-23 17:39:50
90364    2022-09-23 17:40:50
90365    2022-09-23 17:41:50
90366    2022-09-23 17:42:50
90367    2022-09-23 17:43:51
90368    2022-09-23 17:44:51
90369    2022-09-23 17:45:51
90370    2022-09-23 17:46:51
90371    2022-09-23 17:47:51
90372    2022-09-23 17:48:51
90373    2022-09-23 17:49:52
90374    2022-09-23 17:50:52
90375    2022-09-23 17:51:52
90376    2022-09-23 17:52:52
90377    2022-09-23 17:53:52
90378    2022-09-23 17:54:52
90379    2022-09-23 17:55:52
90380    2022-09-23 17:56:53
90381    2022-09-23 17:57:53
90382    2022-09-23 17:58:53
90383    2022-09-23 17:59:53
90384    2022-09-23 18:00:53
90385    2022-09-23 18:01:53
90386    2022-09-23 18:02:54
90387    2022-09-23 18:03:54
90388    2022-09-23 18:04:54
90389    2022-09-23 18:05:54
90390    2022-09-23 18:06:54
90391    2022-09-23 18:07:54
90392    2022-09-23 18:08:54
90393    2022-09-23 18:09:55
90394    2022-09-23 18:10:55
90395    2022-09-23 18:11:55
90396    2022-09-23 18:12:55
90397    2022-09-23 18:13:55
90398    2022-09-23 18:14:55
90399    2022-09-23 18:15:55
90400    2022-09-23 18:16:56
90401    2022-09-23 18:17:56
90402    2022-09-23 18:18:56
90403    2022-09-23 18:19:56
90404    2022-09-23 18:20:56
90405    2022-09-23 18:21:56
90406    2022-09-23 18:22:57
90407    2022-09-23 18:23:57
90408    2022-09-23 18:24:57
90409    2022-09-23 18:25:57
90410    2022-09-23 18:26:57
90411    2022-09-23 18:27:57
Name: DateTime, dtype: object

In [ ]:
insert_rows_json(table_id, rows_to_insert)